@{
    ViewData["Title"] = "Threat Records";

    Layout = "~/Views/Shared/_Layout.cshtml";

    <link rel="stylesheet" href="~/theme/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/theme/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/theme/plugins/daterangepicker/daterangepicker.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="~/theme/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
}

@section scripts {
 

    <!-- jQuery -->
    <script src="~/theme/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables -->
    <script src="~/theme/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/theme/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/theme/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/theme/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

    <!-- InputMask -->
    <script src="~/theme/plugins/moment/moment.min.js"></script>
    <script src="~/theme/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/theme/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>


    <script type="text/javascript">
        'use strict';
        
        
        window.onload = GetSimilarThreats();
       

    </script>

}

<div class="content-wrapper" id="divContentWrapperRequestDetails">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Threat Records</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="~/Home">Home</a></li>
                        <li class="breadcrumb-item active">Threat Records</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        @*<div class="card card-info collapsed-card">*@
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title" id="h3ThreatTraceTitle">Similar Threat Records:</h3>
                <h2 class="card-title" id="h2ThreatTraceTitle"> RAT</h2>
                <div class="card-tools">

                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- <form class="form-horizontal">-->
            <div class="card-body">
                <div class="row">
                    <table id="tblThreatSummary" class="table table-hover table-striped table-bordered table-sm" style="table-layout:fixed">
                        <thead>
                            <tr>
                                <th style="width:5%">ID</th>
                                <th style="width:25%">SHA-256</th>
                                <th style="width:15%">FileName</th>
                                <th style="width:10%">Uploaded Date</th>
                                <th>Status</th>
                                <th>Threat Category</th>
                                <th>Analysis Date </th>
                                <!--  <th>Uploaded By</th>
                                <th>Current Stage</th>-->
                                <th style="text-align:center;width:4%"></th>
                            </tr>
                        </thead>
                        <tbody id="tblTbodyThreatSummary">
                         <tr>
                            <td colspan="8" id="trCurrentNoRecordFound"> No Records Found for provided threat type... </td>
                          </tr>
                        </tbody>

                    
                    </table>

                </div>
              


            </div>
         

        </div>
        <!-- /.card -->
    </section>
  
</div>




