*.suo
*.res
*.pcap
*.sqlite
pcapengine/.vs/*.json
/Arkthor/Front/Source/ArkThor.API/obj
/Arkthor/Front/Source/ArkThor.UI/bin/Debug/net7.0/win-x64
/Arkthor/Front/Source/ArkThor.UI/obj
/Arkthor/Front/Source/ArkThor.UI/Logs
/Arkthor/Front/Source/ArkThor.API/bin/Debug/net7.0
/Arkthor/Front/published
/Arkthor/Front/Source/ArkThor.API/bin/Release/net7.0
/Arkthor/Front/Source/ArkThor.UI/bin/Release/net7.0/win-x64
