*.suo
*.res
*.pcap
*.sqlite
pcapengine/.vs/*.json
/Arkthor/Front/Source/ArkThor.API/obj
/Arkthor/Front/Source/ArkThor.UI/bin/Debug/net7.0/win-x64
/Arkthor/Front/Source/ArkThor.UI/obj
/Arkthor/Front/Source/ArkThor.UI/Logs
/Arkthor/Front/Source/ArkThor.API/bin/Debug/net7.0
/Arkthor/Front/published
/Arkthor/Front/Source/ArkThor.API/bin/Release/net7.0
/Arkthor/Front/Source/ArkThor.UI/bin/Release/net7.0/win-x64
*.tar
*.db
/Arkthor/Core/Results
/Arkthor/Core/processinglist.sqlite3
/Arkthor/Front/Source/.vs/ArkThor/FileContentIndex
/Arkthor/Docker/published
/Arkthor/Front/Source/.vs/ArkThor/config
/Arkthor/Front/Source/ArkThor.API/.config
/Arkthor/Front/Source/ArkThor.UI/ArkThor.UI.csproj.user
/Arkthor/Front/Source/ArkThor.API/ArkThor.API.csproj.user
/Arkthor/Front/Source/.vs
