.drop-zone {
    border: 2px dashed #ccc;
    padding: 20px;
    max-height: 200px;
    overflow: auto;
    text-align: center;
    transition: border 0.3s ease-in-out;
    position: relative;
}

    .drop-zone.drag-over {
        border: 2px dashed #1E90FF;
    }

#file-list {
    margin-top: 10px;
    list-style: none;
    padding: 0;
    text-align: left;
}

    #file-list li {
        margin-bottom: 15px;
    }
